# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log

# AWS SAM/CloudFormation build artifacts
.aws-sam/

# Local overrides
local.*
